html, body{
	min-height: 100%;	
	margin:0px;padding:0px;
}

#nextButton{
	position:fixed;
	z-index: 999999;
	top: 0px;
	right:0px;
}
#prevButton{
	position:fixed;
	z-index: 999999;
	top: 0px;
	left:0px;
}
#userIdHiddenDiv {
	position:absolute;
	top:0px;
	right:120px;
	color:white;
	
}
#question{
	margin-top:50px;
}